@font-face {
    font-family: libertine;
    src: url('../../fonts/2014_med_peter_pandemic/LinLibertine_RB.ttf');
}

.eticket {
    font-family: libertine;
    font-size: 225%;
    line-height: 30%;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 800px;
    height: 400px;
    background: url('../../img/2014_med_peter_pandemic/eticket.png');
}

.ticketdata {
    margin-top: 270px;
    width: 500px;
    text-align: center;
}

img.ticketqrcode {
    z-index: 1;
    position: absolute;
    left: 563px;
    top: 15px;
}

.sponsors {
    display: block;
    margin-top: 410px;
    height: 180px;
    padding-top: 140px;
    background: url('../../img/2014_med_peter_pandemic/sponsors.png') no-repeat top left;
}