@font-face {
    font-family: 'gameofthrones';
    src: url('../../fonts/2014_cse_game_of_codes/Game of Thrones.ttf');
}

.eticket {
    font-family: gameofthrones;
    font-size: 20px;
    line-height: 30%;
    color: #4F2515;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 800px;
    height: 400px;
    /*background: url('/show_data/2014_cse/eticket.png');*/
}

.ticketdata {
    font-weight: bold;
    margin-top: -88px;
    width: 100%;
    text-align: center;
}

.ticketdata p span#seat {
    margin-left: 40px;
}

.ticketseat {
    float: left;
}

img.ticketqrcode {
    z-index: 1;
    position: absolute;
    left: 563px;
    top: 15px;
}

.sponsors {
    display: block;
    margin-top: 410px;
    height: 180px;
    padding-top: 140px;
    background: url('../../img/2014_cse_game_of_codes/sponsors.png') no-repeat top left;
}

#instructions {
    margin-top: 410px;
}
